.header{
	height: 130px;
	background: url(../img/h_bg.jpg) no-repeat;
	/*float: right;*/
}
.navIcon1{
	width: 27px;
	height: 23px;
	background: url(../img/icon.gif);
}
.navIcon2{
	width: 22px;
	height: 23px;
	background: url(../img/icon.gif);
	background-position: -47px 0px;
}
.navIcon3{
	width: 19px;
	height: 23px;
	background: url(../img/icon.gif);
	background-position: -91px 0;
}
.navIcon4{
	width: 18px;
	height: 23px;
	background: url(../img/icon.gif);
	background-position: -133px 0;
}
.loginAndRegister{
	display: inline-block;
	width: 45px;
	height: 24px;
	padding: 6px 0 0 8px;
	background: url(../img/icon.gif);
	background-position: 0 -25px;
	font-size: 14px;
	color: black;
}
.header ul.navTi{
	width: 464px;
	height: 40px;
	display: inline-block;
	float: right;
}
.header ul.navTi li{
	float: left;
	height: 24px;
	margin: 8px 10px 8px 0px;
}
.header ul.navTi li div{
	display: inline-block;
}

.navTitle{
	display: inline-block;
	margin-left: -3px;
	position: relative;
	bottom: 6px;
}
.navTitle a{
	color: black;
}




.register{
	margin-left: -10px;
}
.welcome{
	letter-spacing: 4px;
	position: relative;
	left: 500px;
	top: 80px;
	display: inline-block;
}
.nav{
	display: inline-block;
	width: 670px;
	width:730px;
	height: 33px;
	position: relative;
	top: 56px;
	left: 23px;
}
.nav li{
	float: left;
	width:84px;
	text-align: center;
}
.nav a{
	display: inline-block;
	padding:8px;
	
	font-weight: bold;
	font-size: 16px;
}
.nav a:link,.nav a:visited{
	color: black;
}
.nav a:hover{
	color: blue;
}
